# Ce fichier sert de modèle pour configurer docker-compose sur le VPS.
# À copier sous le nom ".env" sur le VPS (il sera ignoré par Git pour la sécurité).

DB_DATABASE=banque_profils
DB_USERNAME=banqueprofils_user
# Mets ton propre mot de passe ultra-sécurisé ici en production !
DB_PASSWORD=secret
